@import url("style/header.css");
@import url("style/barraConsultas.css");
@import url("style/card.css");
@import url("style/rodape.css");
@import url("style/formulario.css");

:root {
    --branco: #FFFFFF;
    --cinza: #F6F6F6;
    --laranja: #FFB050;
    --cinza-secundario: #ececec;
    --preto: #464646;
    --azul: #4894FF;
    --translucido: #000000;
    --cinza-form: #898989;
    --placeholder: #cfcfcf;



    --fonte-principal: "Montserrat"

}


body {
    background-color: var(--cinza);
    font-family: var(--fonte-principal);
}



