.barra {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    padding: 1em 1em;
    width: 100vw;
}

.barra__status-imagem {
  margin-right: 10px;
}

.apresentacao {
    display: flex;
    justify-content: space-around;
    padding-top: 3em;
}

.apresentacao__imagem {
    width: 57px;
    height: 57px;
    top: 65px;
    left: 16px;
    border-radius: 50%;
    padding: 0 1.5em;
    
}

.apresentacao__texto {
    
    margin-right: auto;
}

.apresentacao__texto-nome {
    font-family: var(--fonte-principal);
    font-size: 22px;
    font-weight: 700;
    padding: 0.5em 0;
}

.apresentacao__texto-descricao {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 14px;
}

@media screen and (min-width: 767px) {
    .barra {
        display: none;
    }
}